<html>
    <head>
        <title>Add friend</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'home' %}">Back</a>
        
        {% comment %} <h1>Add Friend</h1>
        <form method="POST">

            {{ form }}
            {% csrf_token %} {{ form.as_p }}
            <button type="submit"> Save</button>
        </form>
        <a href="{% url 'home' %}"> Back </a> {% endcomment %}
    </body>
</html>